<h1>Forgeedit!</h1>

<p>
    Exisiting user?
    <%= link_to "Login", new_session_path %>
</p>
<p>
    New user? Please
    <%= link_to "Sign up", new_user_path %>
</p>
<p>
    Share comments and links.
</p>

<h3>
    Check out our
    <%= link_to "Links", links_path %>

</h3>
<hr>
